<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460222255195-46o62r4b22it79hlfpn0lt0jt43ou1rd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460222255195-46o62r4b22it79hlfpn0lt0jt43ou1rd</string>
	<key>API_KEY</key>
	<string>AIzaSyBqzle8GIXHdDmWIKGXjsEogHgz9RW74pQ</string>
	<key>GCM_SENDER_ID</key>
	<string>460222255195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.footballground</string>
	<key>PROJECT_ID</key>
	<string>footballground-3d74c</string>
	<key>STORAGE_BUCKET</key>
	<string>footballground-3d74c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460222255195:ios:94d9c7144efc404d212f7e</string>
	<key>DATABASE_URL</key>
	<string>https://footballground-3d74c.firebaseio.com</string>
</dict>
</plist>